<template>
    <c-mortgage-los-section-controller>
        <lightning-layout>
            <lightning-layout-item class="slds-p-bottom_medium" padding="horizontal-small" flexibility="auto">
                <c-mortgage-los-lender-form-l1-view-mode handle-edit={handleEdit} lender-data={lenderData} is-purchase-submission={isPurchaseSubmission} is-refi-submission={isRefiSubmission}>
                </c-mortgage-los-lender-form-l1-view-mode>
            </lightning-layout-item>
        </lightning-layout>
    </c-mortgage-los-section-controller>
</template>