fieldset label.slds-checkbox__label {
  display: flex;
}

.slds-m-left_large {
  width: fit-content;
}

fieldset span.slds-form-element__label {
  flex: 1;
  padding-top: 0;
}

fieldset .slds-checkbox_faux {
  margin-top: 0.2rem;
}

fieldset.slds-is-editing.slds-form-element lightning-input.slds-form-element {
  margin-bottom: 0;
}