<template>
    <c-mortgage-los-section-controller>
        <lightning-layout>
            <lightning-layout-item class="slds-p-bottom_medium" padding="horizontal-small" flexibility="auto">
                <c-mortgage-los-lender-form-l3-view-mode handle-edit={handleEdit} is-purchase={isPurchaseSubmission}
                    lender-data={lenderData}>
                </c-mortgage-los-lender-form-l3-view-mode>
            </lightning-layout-item>
        </lightning-layout>
    </c-mortgage-los-section-controller>
</template>