.ml-20 {
    margin-left: 20px;
}

.combobox {
    margin-top: -15px;
}

.short__divider{
    cursor: default;
}

.short__divider:after{
    height: 100%;
    background-color: rgb(176, 173, 171);
}

.short__divider:hover:before{
    background-color: rgb(176, 173, 171);
    width: var(--lwc-borderWidthThin,1px);
}

.table__custom__prioritet{
    position: relative;
    z-index: 1;
}