.add-icon {
    --sds-c-icon-color-foreground-default: var(--lwc-brandPrimaryActive);
}

.los-c__assets_title-container {
    height: 30px;
    margin: 4px 0px;
    width: 100%;
    font-weight: bold;
}

.los-table_bordered {
    border-top: 0;
}

.los-table_bordered tfoot td {
    border-top: var(--lwc-borderWidthThin, 1px) solid var(--lwc-colorBorder, rgb(221, 219, 218));
    font-weight: bold;
}


.info_container {
    display: flex;
    align-items: center;
}